name: Frontend

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
    paths: ['client/**']
  pull_request:
    branches: [ master ]
    paths: ['client/**']

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: npm
          cache-dependency-path: client/package-lock.json
      
      - name: Install Node modules
        run: cd client && npm ci
      
      - name: Lint frontend
        run: cd client && npm run lint
          
      - name: Type checking
        run: cd client && npm run tsc

      - name: Prettier format check
        run: cd client && npm run prettier-check
